@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf9f5;
}

@layer base {
  @font-face {
    font-family: "The Signature";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/TheSignature.ttf) format("truetype");
  }
  @font-face {
    font-family: "Albert Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/AlbertSans/AlbertSans-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Albert Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/AlbertSans/AlbertSans-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/unbounded/Unbounded-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/unbounded/Unbounded-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/unbounded/Unbounded-Bold.ttf) format("truetype");
  }
}

